<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bookhistory.css') }}"
    />
    <title>Ticket</title>
  </head>
  <body>
    <header class="header">
        <div class="logoname">
          <h3>Park-in</h3>
        </div>
        <nav class="links">
          <ul>
            <li><a href="/">Home</a></li>
            <!--<li><a href="parkmap.html">Parkmap</a></li>
                  <li><a href="#">Contact</a></li> -->
          <li><a href="/parkmap"><button class="status-booked">Confirm</button></a></li>
          </ul>
        </nav>
      </header>
    <!---- <table>
      <tr>
        {% for header in headingg %}
        <th>{{ header }}</th>
        {% endfor %}
      </tr>
      {% for row in data %}
      <tr>
        {% for cell in row %}
        <td>{{ cell }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>-->
    <div class="history-table">
      <h2>Slot Booked History</h2>
      <table>
        <thead>
          <tr>
            <th>Username</th>
            <th>Slot Booked</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>BookingID</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <!-- Data will be dynamically inserted here -->
          <tr>
            <td>{{ username }}
          {% if error %}
          <h3 style="color: red">{{ error }}</h3>
          {% endif %}
            </td>
            <td>{{ slot }}</td>
            <td>{{ start }}</td>
            <td>{{ end }}</td>
            <td>{{ id }}</td>
            <form method="POST" action="/drop">
            <input type="hidden" name="value" value="{{ delete }}">
            <td><button type="submit"  class="status-cancelled">Cancel</button></td>
            </form>
          </tr>
          <!-- Add more rows as needed -->
        </tbody>
      </table>
    </div>
    </table>
  </body>
</html>
